extends layout

block content
  .body_container
    .checker
      .checkBtn
        - var check = okok
        
        if check == '1'
          .doCheck
            a#checkBtn(href='/check', role='button') 출석첵크
        else if check == '0'
          .finCheck
            span 출석완료
            
      .hero-circle
        .hero-face
          #hour.hero-hour
          #minute.hero-minute
          #second.hero-second
        .tClock
          h3
            a(href='#') 현재시간
          .calendars
            span#years
            span#months
            span#days
          .times
            span#tHour
            span#tMinute
            span#tSecond