<div class="login-container">
  <div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
        <a data-target='#signin' aria-controls="home" role="button" data-toggle="tab" class="tabBtn">
          <span>SIGN IN</span>
        </a>
      </li>
      <li role="presentation">
        <a data-target="#signup" aria-controls="profile" role="button" data-toggle="tab" class="tabBtn">
          <span>SIGN UP</span>
        </a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="signin">
         <div id="login">   
          <h1 class="login-title">Welcome</h1>
          
          <form action="/" method="post">
            <div class="icon1">
              <i class="fonti um-user um-2x"></i>
            </div>
            <div class="icon2">
              <i class="fonti um-lock um-2x"></i>
            </div>
            <div class="field-wrap">
              <input type="email" required class="input" autocomplete="off" placeholder="이메일을 입력하세요"/>
              <input type="password" required  class="input" autocomplete="off" placeholder="패스워드를 입력하세요"/>
            </div>
            <button class="button1">LOGIN</button>
          </form>

        </div>
      </div>
    
    
      <div role="tabpanel" class="tab-pane" id="signup">
        <div id="signup">   
          <h1 class="signup-title">Sign Up</h1>
          
          <form action="/" method="post">
            <div class="icon3">
              <i class="fonti um-user um-2x"></i>
            </div>
            <div class="icon4">
              <i class="fonti um-lock um-2x"></i>
            </div>
            <div class="icon5">
              <i class="fonti um-new um-2x"></i>
            </div>
            <div class="icon6">
              <i class="fonti um-mobile-phone-o um-2x"></i>
            </div>
            <div class="field-wrap">
              <input type="email" required class="input" autocomplete="off" placeholder="이메일을 입력하세요"/>
              <input type="password" required  class="input" autocomplete="off" placeholder="패스워드를 입력하세요"/>
              <input type="text" required class="input" autocomplete="off" placeholder="이름을 입력하세요"/>
              <input type="text" required class="input" autocomplete="off" placeholder="번호를 입력하세요"/>
            </div>
            <button class="button2">JOIN</button>
          </form>
          
        </div>
      </div>
    </div>

  </div>

</div>
