extends ../layout

block content
  .body_container
    .waper
      div
        h1 회원가입
        
      form(action='/signup', method='post')
        .left_form
          .profile_name
            h2 이름
            input#uName.uName(type='text', name='uName', onchange='check(this.id);', pattern='^[가-힝a-zA-Z]{2,}$', autofocus='', title='이름을 입력해주세요.', required)
            #uNameMsg.control-label(style='display: none;')
        .right_form
          .profile_tel
            h2 연락처
            input#uTel.uTel(type='tel', name='uTel', onchange='check(this.id);', placeholder="  '-' 없이 입력해주세요", pattern='^[0-9]{10,11}$', title='"-" 없이 입력해주세요.', required)
            #uTelMsg.control-label(style='display: none;')

        .profile_imgs
          h2 프로필 이미지

          #datas
          for data in datas
            input.imgToggle(type='radio', id=data.id, name='chk_img', value=data.id)
            label(for=data.id)
              img(src=data.val)

        .profile_btn
          input#signUpBtn(type='submit', value='회원가입')