/* 스마트폰 */
@media (max-width:759px){
  html{font-size:14px;}
  .navbar-brand {height:50px;}
  #home {height: 520px;}
  .remote {display:none;}
  .home-title {text-align:center;}
  .home-content {width:98%;bottom:30px;left:50%;transform: translate(-50%, 0);}
  .notice {font-size:20px;}
  .notice-title {width:65%;}
  .notice-date {width:90px;}
  .what-box {margin:10px auto;width:95%;}
  .card-container {width:95%;height:450px;margin:10px auto;}
  
  .noti-container {width:100%;}
  .noti-cate-title {text-align: center;border-bottom: 1px solid #000;}
/*  .noti {border-bottom: 1px solid #000;}*/
  .cal {background-color: #f4f4f4}
  .table{width: 95%;}
  .column {display:none;}
  .noti-cate {display: none;}
  .noti-title {width:100%;float: left;}
  .noti-writer {display: none;}
  .noti-date {width:100%;font-size: 18px;}
  .com-cate {width:20%;float: left;}
  .com-title {width:78%;float: left;}
  .com-writer {width:63%;float: left;font-size: 18px;}
  .com-date {width:35%;float: left;font-size: 18px;}
  .paging {margin-bottom: 10px;}
  .search {padding-bottom: 20px;}
  .search > input {width: 250px;}
  
  .login-title {margin-top:30px;margin-bottom:-50px;}
  .signup-title {margin-top:30px;margin-bottom:-130px;}
  .input {font-size: 20px;}
  .login-container {height:600px;}
  .button1 {top: 40px;}
  .button2 {top: -26px;}
}


/* 태블릿 */
@media (min-width:760px) and (max-width:879px){
  html{font-size:15px;}
  #home {height:974px;}
  .remote {display:none;}
  .home-title {margin-left:75px;margin-top:25px;}
  .home-content {width:60%;bottom:75px;right:75px;}
  .notice {font-size:20px;}
  .notice-title {width:75%;}
  .notice-date {width:90px;}
  .what-title, .we-title {margin-top: 50px;margin-bottom: 50px;}
  .what-box {margin:10px auto;width:95%;}
  .card-container {width:95%;height:450px;margin:10px auto;}
  
  .noti-container {width:100%;}
  .noti-cate-title {margin-left: 50px;}
  .table{width: 95%;text-align: center;}
  .column {
    display: flex;
    padding: 10px 0;
    border-bottom: 1px solid #000;
    font-size: 20px;
    font-weight: 800;
  }
  .row {display: flex;}
  .noti-cate {width: 10%;}
  .noti-title {width: 60%;text-align: left;}
  .noti-writer {width: 15%;}
  .noti-date {width: 15%;}
  .com-cate {width: 10%;}
  .com-title {width: 60%;text-align: left;}
  .com-writer {width: 15%;}
  .com-date {width: 15%;}
  .paging {margin-bottom: 30px;}
  .search {padding-bottom: 50px;}
  .search > input {width: 300px;}
  
  .login-title {margin-top: 100px;margin-bottom: 60px;}
  .signup-title {margin-top: 100px;margin-bottom: -20px;}
  .input {font-size: 30px;}
  .login-container {height:974px;}
  .button1 {top: 120px;}
  .button2 {top: 60px;}
}


/* PC */
@media (min-width:880px){
  html{font-size:20px;}
  .container-fluid {max-width:1920px;}
  #home, #what, #we {width:1280px;height:1080px;margin:0 auto;}
  .remote {
    z-index:2;
    position:absolute;
    top:25%;
    right:150px;
  }
  .nav-remote {
    width:150px;
    padding:10px 0;
    list-style:none;
    text-align:center;
    background-color:rgba(255,255,255,0.5);
    position:fixed;
  }
  .nav-remote > a {text-decoration:none;font-size:20px;}
  .nav-remote > a > li {margin:10px;}
  .home-title {margin-left:15%;margin-top:5%;}
  .home-content {
    width:600px;
    height:330px;
    bottom:10%;
    right:8%;
  }
  .notice {font-size: 1.2rem;}
  .toNotice {font-size: 1.2rem;}
  .notice-content {font-size: 1.1rem;}
  .notice-title {width: 77%;}
  .notice-date {width:20%;}
  .what-title, .we-title {margin-top: 100px;margin-bottom: -50px;}
  .what-content {margin:150px auto;width:1200px;display: flex;}
  .what-box {margin: 0px auto;width: 350px;
  }
  .we-card {margin:150px auto;width:1200px;display: flex;}
  .card-container {width:350px;height:400px;margin: 10px auto;}
  
  .noti-container {width:1280px;}
  .noti-cate-title {margin-left: 50px;}
  .table{width: 95%;text-align: center;}
  .column {
    display: flex;
    padding: 10px 0;
    border-bottom: 1px solid #000;
    font-size: 20px;
    font-weight: 800;
  }
  .row{display: flex;}
  .noti-cate {width: 10%;}
  .noti-title {width: 60%;text-align: left;}
  .noti-writer {width: 15%;}
  .noti-date {width: 15%;}
  .com-cate {width: 10%;}
  .com-title {width: 60%;text-align: left;}
  .com-writer {width: 15%;}
  .com-date {width: 15%;}
  .paging {margin-bottom: 30px;}
  .search {padding-bottom: 50px;}
  .search > input {width: 300px;}
  
  .login-container {
    width: 720px;
    height: 920px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .login-title {margin-top: 100px;margin-bottom: 60px;}
  .signup-title {margin-top: 100px;margin-bottom: -20px;}
  .input {font-size: 30px;}
  .button1 {top: 100px;}
  .button2 {top: 40px;}
}