body {
  background-color: #dbdbdb;
}
a {
  color: #000;
}


.navbar {
  margin-bottom: 0;
  background-color: #13232f;
}
.navbar-default .navbar-brand {
  color: #fff;
  font-size: 23px;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #fff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #fff;
}
.navbar-toggle {
  padding: 0;
  margin: 0;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: transparent;
}
.navbar-default .navbar-toggle {
  border: none;
}
.navbar-default .navbar-nav > li > a {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}

.hamburger {
  padding: 10px;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  background-color: #fff;
  width: 35px;
}
.hamburger-box {
  top: 3px;
  width: 35px;
}
.container {
  width: 100%;
  padding: 0;
  margin-top: -10px;
}