.noti-container {
  min-height: 1080px;
  background-color: #fff;
  margin: 0 auto;
  padding-top: 10px;
/*  padding-bottom: 50px;*/
}

.noti, .cal {
  padding-bottom: 50px;
}
.table  {
  margin: 0 auto;
  padding-bottom: 10px;
}
h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 10px;
}
.row {
  margin: 0;
  padding: 10px 0;
  border-bottom: 1px solid #000;
  font-size: 20px;
}
.row:hover {
  background-color: #f0f0f0;
}
.noti-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.search {
  text-align: center;
}
.search > input {
  height: 35px;
  border: 1px solid #909090;
}
.searchBtn {
  width: 35px;
  height: 35px;
  background-color: #fff;
  border: 1px solid #909090;
  border-left: 0;
  margin-left: -5px;
}
.paging {
  text-align: center;
}
.pagination > li > a, .pagination > li > span {
  padding: 7px 11px;
}