body {
  font-family: "Squada One",sans-serif;
  background: #000e12;
  color: #daf6ff;
  width: 100%;
  margin: 0 auto;
}
.body_container {
/*  width: 1280px;*/
  margin: 0 auto;
  padding-bottom: 30px;
}
.body_container h2 {
  text-align: left;
}

/*******************************/
/*           헤더 CSS           */
/*******************************/
nav {
  width: 100%;
}
.navbar {
  background-color: #000E12;
  border-bottom: 0px solid #000e12;
}
.navbar-brand {
  margin-top: 18px;
  font-size: 3em;
  color: #daf6ff;
  text-shadow: 0 0 20px #0aafe6, 0 0 20px rgba(10, 175, 230, 0);
}
.add {
  margin-top: 20px;
}
.navbar-default .navbar-brand {
  color: #daf6ff;
}
.navbar-default .navbar-nav > li > a {
  color: #daf6ff;
}
.navbar-default .navbar-brand:hover {
  color: #Daf6ff;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #daf6ff;
}

.dropdown img {
  border-radius: 50%;
  width: 50px;
  margin-right: 15px;
}
.dropdown span {
  font-size: 1.2em;
  margin-right: 7px;
}
.dropdown i {
  zoom: 1.2;
  margin-bottom: 5px;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #daf6ff;
  background-color: rgba(0, 54, 69, 1);
}
.dropdown-menu {
/*
  position: relative;
  top: -15px;
*/
  border: 0px solid #000e12;
  border-top: 1px solid #000e12;
  border-left: 1px solid #000e12;
  background-color: rgba(0, 54, 69, 1);
}
.dropdown-menu > li > a {
  color: #daf6ff;
  text-align: center;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  color: #daf6ff;
  background-color: rgba(0, 54, 69, 1);
}
.dropdown-menu .divider {
  background-color: #000e12;
}
.my {
  margin-top: 5px;
}
.out {
  margin-bottom: 5px;
}

/********************************/
/*          출첵화면 css          */
/********************************/
.checker {
  text-align: center;
}

/* 출석 버튼 */
.doCheck {
  display: table;
  width: 250px;
  height: 250px;
  position: absolute;
/*  margin-left: 250px;*/
  top: 50%;
  left: 25%;
  transform: translate(0%, -55%);
}
.doCheck a {
  display: table-cell;
  font-size: 2.5em;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  transition: background 1s, border-width 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), text-shadow 0.5s;
  color: #daf6ff;
  text-shadow: 0 0 20px #0aafe6, 0 0 20px rgba(10, 175, 230, 0);
  box-shadow: 0 0 0 rgba(10, 175, 230, 0), inset 0 0 0 rgba(10, 175, 230, 0);
  background-image: radial-gradient(ellipse cover at center, rgba(10, 175, 230, 0) 0%, rgba(10, 175, 230, 0) 90%);
  border: 3px dashed rgba(10, 175, 230, 1);
}
.doCheck a:hover {
  color: #fff;
  text-shadow: 0 0 50px #0aafe6, 0 0 50px #0aafe6;
  background-image: radial-gradient(ellipse cover at center, rgba(10, 175, 230, 0.3) 0%, rgba(10, 175, 230, 0) 60%);
  border: 3px dashed rgba(10, 175, 230, 0);
}
.doCheck:before, .doCheck:after, .doCheck a:before, .doCheck a:after {
  transition: 0.2s ease-in-out;
  content: "";
  display: block;
  position: absolute;
  border-radius: 50%;
  border: 60px dashed transparent;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.doCheck:before {
  animation: rotate 20s linear 0s infinite;
  width: 155%;
  height: 155%;
  border: 3px dotted rgba(10, 175, 230, 0);
  z-index: -1;
}
.doCheck:after {
  animation: rotate 10s linear 0s infinite reverse;
  border: 89px dashed rgba(10, 175, 230, 0);
  width: 207%;
  height: 207%;
  z-index: -2;
}
.doCheck a:before {
  animation: rotate 5s ease-in-out 0s infinite alternate;
  width: 135%;
  height: 135%;
  border: 44px dashed rgba(10, 175, 230, 0);
}
.doCheck a:after {
  animation: rotate 5s linear 0s infinite;
  border: 13px dashed rgba(10, 175, 230, 0);
  width: 110%;
  height: 110%;
}
.doCheck:hover:before {
  border-color: rgba(10, 175, 230, 0.3);
}
.doCheck:hover:after {
  border-color: rgba(10, 175, 230, 0.1);
}
.doCheck:hover a:before {
  border-color: rgba(10, 175, 230, 0.3);
}
.doCheck:hover a:after {
  border-color: rgba(10, 175, 230, 0.3);
}
@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
p.caption {
  font-size: 0.7em;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  letter-spacing: 0.2em;
  text-shadow: 0 0 20px #0aafe6, 0 0 20px rgba(10, 175, 230, 0);
}

/* 출석완료 */
.finCheck {
  display: table;
  width: 250px;
  height: 250px;
  position: absolute;
/*  margin-left: 250px;*/
  top: 50%;
  left: 25%;
  transform: translate(0%, -55%);
}
.finCheck span {
  display: table-cell;
  font-size: 2.5em;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  transition: background 1s, border-width 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), text-shadow 0.5s;
  color: #fff;
  text-shadow: 0 0 50px #0aafe6, 0 0 50px #0aafe6;
  box-shadow: 0 0 0 rgba(10, 175, 230, 0), inset 0 0 0 rgba(10, 175, 230, 0);
  background-image: radial-gradient(ellipse cover at center, rgba(10, 175, 230, 0.3) 0%, rgba(10, 175, 230, 0) 60%);
  border: 3px dashed rgba(10, 175, 230, 0);
}
.finCheck:before, .finCheck:after, .finCheck span:before, .finCheck span:after {
  transition: 0.2s ease-in-out;
  content: "";
  display: block;
  position: absolute;
  border-radius: 50%;
  border: 60px dashed transparent;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.finCheck:before {
  animation: rotate 20s linear 0s infinite;
  width: 155%;
  height: 155%;
  border: 3px dotted rgba(10, 175, 230, 0);
  border-color: rgba(10, 175, 230, 0.3);
  z-index: -1;
}
.finCheck:after {
  animation: rotate 10s linear 0s infinite reverse;
  border: 89px dashed rgba(10, 175, 230, 0);
  border-color: rgba(10, 175, 230, 0.1);
  width: 207%;
  height: 207%;
  z-index: -2;
}
.finCheck span:before {
  animation: rotate 5s ease-in-out 0s infinite alternate;
  width: 135%;
  height: 135%;
  border: 44px dashed rgba(10, 175, 230, 0);
  border-color: rgba(10, 175, 230, 0.3);
}
.finCheck span:after {
  animation: rotate 5s linear 0s infinite;
  border: 13px dashed rgba(10, 175, 230, 0);
  border-color: rgba(10, 175, 230, 0.3);
  width: 110%;
  height: 110%;
}



/* 원형 시계 */
.hero-circle {
  width:300px;
  height:300px;
  margin:0 auto;
  position:absolute;
/*  margin-left: 765px;*/
  top: 50%;
  right: 20%;
  transform: translate(0%, -70%);
  border:8px solid #daf6ff;
  border-radius:50%;
  box-shadow: 0 0 20px #0aafe6, 0 0 20px rgba(10, 175, 230, 0);
}
.hero-face {
  width:100%;
  height:100%;
}
.hero-face:after {
  position:absolute;
  top:50%;
  left:50%;
  width:12px;
  height:12px;
  margin:-6px 0 0 -6px;
  background:#035772;
  border-radius:6px;
  content:"";
  display:block;
}
.hero-hour {
  width:0;
  height:0;
  position:absolute;
  top:50%;
  left:50%;
  margin:-4px 0 -4px -25%;
  padding:4px 0 4px 25%;
  background:#daf6ff;
  -webkit-transform-origin:100% 50%;
      -ms-transform-origin:100% 50%;
          transform-origin:100% 50%;
  border-radius:4px 0 0 4px;
}
.hero-minute {
  width:0;
  height:0;
  position:absolute;
  top:50%;
  left:50%;
  margin:-40% -3px 0;
  padding:40% 3px 0;
  background:#daf6ff;
  -webkit-transform-origin:50% 100%;
      -ms-transform-origin:50% 100%;
          transform-origin:50% 100%;
  border-radius:3px 3px 0 0;
}
.hero-second {
  width:0;
  height:0;
  position:absolute;
  top:50%;
  left:50%;
  margin:-40% -1px 0 0;
  padding:40% 1px 0;
  background:#daf6ff;
  -webkit-transform-origin:50% 100%;
      -ms-transform-origin:50% 100%;
          transform-origin:50% 100%;
}

/* 텍스트 시계 */
.tClock {
  color: #daf6ff;
  font-size: 2em;
  margin: 0 auto;
  text-align: center;
  text-shadow: 0 0 20px #0aafe6, 0 0 20px rgba(10, 175, 230, 0);
  position: relative;
  top: 10px;
}
.tClock a {
  text-decoration: none;
  color: #daf6ff;
  font-size: 1.5em;
}
#years, #months, #days, #tHour, #tMinute, #tSecond {
  margin: 0 5px;
}
#years:after {
  content: '년';
}
#months:after {
  content: '월';
}
#days:after {
  content: '일';
}
#tHour:after {
  content: '시';
}
#tMinute:after {
  content: '분';
}
#tSecond:after {
  content: '초';
}


/********************************/
/*           로그인 css           */
/********************************/
.loginContainer {
  width: 500px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.user_icon {
  position: relative;
  top: 59px;
  left: 14px;
}
#uid {
  width: 500px;
  height: 65px;
  font-size: 1.5em;
  padding: 0 10px;
  padding-left: 70px;
  margin-bottom: 30px;
  background-color: rgba(0, 54, 69, 0.5);
/*  background-color: rgba(10, 175, 230, 0.3);*/
  border: 0px;
  color: #daf6ff;
}
#uid:focus {
  outline: none;
}
::-webkit-input-placeholder { color: #90b4bf;}
::-moz-placeholder { color: #90b4bf; }
:-ms-input-placeholder { color: #90b4bf; }
input:-moz-placeholder { color: #90b4bf; }
#loginBtn {
  background-color: rgba(10, 175, 230, 0.3);
  border: 0;
  width: 500px;
  height: 65px;
  font-size: 1.7em;
  color: #daf6ff;
  padding-top: 8px;
  border-radius: 10px;
  text-shadow: 0 0 20px #0aafe6, 0 0 20px rgba(10, 175, 230, 0);
}



/********************************/
/*          회원가입 css          */
/********************************/
.waper {
  color: aliceblue;
  width: 784px;
  margin: 0 auto;
  text-shadow: 0 0 20px #0aafe6, 0 0 20px rgba(10, 175, 230, 0);
}
h1 {
  margin-top: 50px;
  padding-bottom: 10px;
  border-bottom: 3px dashed #daf6ff;
  margin-bottom: 40px;
}

/* 위에 3개 input tag */
.left_form {
  width: 390px;
  float: left;
  margin-bottom: 20px;
}
.right_form {
  width: 350px;
  float: right;
}
.uName, .uTel {
  width: 350px;
  height: 50px;
  font-size: 1.3em;
  padding: 0 10px;
  border-radius: 10px;
/*  border: 2px solid #035772;*/
  border: 0px solid #035772;
  background-color: #011E27;
  color: #fff;
  outline: none;
}

/* 프로필 이미지 */
.profile_imgs {
  text-align: center;
  clear: both;
}
.imgToggle {
  display: none;
}
input[type=radio]:checked + label>img {
  box-shadow: 0 0 0 3px #fefefe;
}
img {
  margin: 3px 3px;
  width: 150px;
}
/* 회원가입 버튼 */
#signUpBtn {
  background-color: #011E27;
  border: 2px solid #035772;
  border-radius: 15px;
  margin-top: 50px;
  margin-bottom: 250px;
  margin-left: 242px;
  width: 300px;
  height: 50px;
  font-size: 1.4em;
  text-decoration: none;
  color: #fff;
}
#signUpBtn:hover {
  background-color: #035772;
}



/*********************************/
/*           내정보 css           */
/********************************/
.profile {
  width: 150px;
  height: 150px;
  margin-bottom: 30px;
}
.panel {
  background-color: #000E12;
  width: 800px;
  margin: 0 auto;
}
.panel .panel-body {
  background-color: #000E12;
  border: 0px;
}
legend {
  color: #daf6ff;
  zoom: 1.5;
/*  border-bottom: 4px dashed #daf6ff;*/
  border-bottom: 0px dashed #daf6ff;
  margin-bottom: 30px;
  text-shadow: 0 0 20px #0aafe6, 0 0 20px rgba(10, 175, 230, 0);
}
.form-group label {
  margin-top: 8px;
  font-size: 1.2em;
  text-align: right;
}
.pName, .pTel {
  background-color: rgba(0, 74, 96, 0.5);
  border: 0px;
  color: #daf6ff;
  outline: none;
}
.edit {
  background-color: #035772;
  width: 160px;
  height: 50px;
  margin-top: 10px;
}
.edit:hover {
  background-color: #00e572;
  color: #daf6ff;
}
.del {
  background-color: #035772;
  width: 160px;
  height: 50px;
  position: relative;
  bottom: 65px;
  left: 405px;
}
.del:hover {
  background-color: #da4242;
  color: #daf6ff;
}
.chartBox {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  border-top: 5px dashed #daf6ff;
  text-shadow: 0 0 20px #0aafe6, 0 0 20px rgba(10, 175, 230, 0);
  padding-top: 30px;
}
.text {
  margin-top: 30px;
  position: relative;
  font-size: 1.5em;
  bottom: 250px;
  left: 95px;
  text-shadow: 0 0 20px #0aafe6, 0 0 20px rgba(10, 175, 230, 0);
}
.chart {
  display: inline-block;
  padding-top: 22px;
}
.chart span {
  display: block;
  position: relative;
  right: 24px;
  top: 86px;
  font-size: 3.3em;
  font-weight: normal;
  text-shadow: 0 0 20px #0aafe6, 0 0 20px rgba(10, 175, 230, 0);
}
.chart .percent i {
  zoom: 0.4;
  margin-left: 5px;
}
.chart canvas {
  display: inline;
/*  margin: 0 20px; */
  position: relative;
  right: 30px;
  margin-top: -50px;
  margin-bottom: 40px;
  
}


/***********************/
/*      스터디 생성       */
/***********************/
.addBox, h2 {
  width: 750px;
  margin: 0 auto;
  padding-bottom: 50px;
}
.addBox {
  margin-top: 25px;
}
.select_subject {
  margin-top: 25px;
}
.allSelect {
  margin-left: 10px;
  font-size: 0.7em;
}
#check_all {
  padding: 10px 0;
}
.item {
  background-color: #023140;
  margin: 3px 0;
  width: 750px;
}
.aImg {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  margin: 10px 30px;
}
.aName {
  font-size: 1em;
  position: relative;
  top: 3px;
}
#addBtn {
  width: 750px;
  height: 100px;
  font-size: 2.0em;
  margin-top: 3px;
  color: #daf6ff;
  border: 0px solid #035772;
  background-color: #023140;
  text-shadow: 0 0 10px #0aafe6, 0 0 20px rgba(10, 175, 230, 0);
}

