<div class="secound">
  <div class="patientData">
    <header class="title">Patient Data</header>

    <div class="search">
      <i class="fonti um-search"></i>
      <input type="text" ng-model="search" placeholder="Search patient..."/>
    </div>

    <div class="items">

      <a ui-sref="patientData.list" ng-click="setCurrentPatients(item)" ng-repeat="item in patients | filter:search">
        <div role="button" id="{{item.ID}}" class="item" onclick="menuSelector(this.id);">
          <div class="info">
            <img src="img/profile_2.jpg" />
            <div class="name">{{ item.NAME }}</div>
            <div class="age">{{ item.AGE }} years old</div>
            <div class="room">{{ item.ROOM }}</div>
          </div>
        </div>
      </a>

    </div>
  </div>
</div>

<div class="final">
  <div ui-view></div>
</div>